/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #111;
}

:root {
  --main-transition: .3s;
}
/* End Global Rules  */

.big-container {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
  padding: 40px 20px;
}

.container {
  background-color: #222;
  height: 100%;
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #2A2A2A;
  position: relative;

}

.container .head {
  padding: 30px;
  background-color: #1d1d1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2A2A2A;
}

.container .head h1 {
  margin: 0;
  font-size: 23px;
  letter-spacing: -2px;
  color: #ccc;
}

.container .head .account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.container .head .account i {  
  font-size: 25px;
  background-color: #ccc;
  color: #111;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--main-transition);
}

.container .head .account .sign-up,
.container .head .account .log-in  {
  background-color: #ccc;
  color: #111;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 24px;
  cursor: pointer;
  transition: var(--main-transition);
}

.container .head .account .sign-up:hover,
.container .head .account .log-in:hover,
.container .head .account i:hover {
  color: #ccc;
  background-color: #333;
}

.container .content {
  height: 100%;
  padding: 30px;
  text-align: center;
  /* position: relative; */
}

.container .content .add-task {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content .add-task input {
  height: 100%;
  width: 70%;
  margin-right: 20px;
  padding: 15px;
  font-size: 16px;
  color: #ccc;
  background-color: #333;
  border: 3px solid #3A3A3A;
  border-radius: 24px;
  outline: none;
  transition: border-color 0.3s ease;
}

.container .content .add-task input::placeholder {
  color: #999;
}
.container .content .add-task input:focus {
  border-color: #444;
}

.container .content .add-task .plus {
  background-color: #ccc;
  color: #111;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 24px;
  cursor: pointer;
  transition: var(--main-transition);
}
.container .content .add-task .plus:hover {
  color: #ccc;
  background-color: #333;
}

.container .content .tasks-content {
  height: 100%;
  padding: 20px 0;
}

.container .content .no-tasks {
  display: block;
  color: #ccc;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
}



.container .content .tasks-stats {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1d1d1d;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #2A2A2A;
}

.container .content .tasks-stats .tasks-count,
.container .content .tasks-stats .tasks-completed {
  background-color: #ccc;
  color: #111;
  padding: 10px 14px;
  font-size: 17px;
  font-weight: 700;
  border-radius: 24px;
  transition: var(--main-transition);
}






@media (max-width: 667px) {
  .big-container {
    padding: 20px 10px;
  }
  .container .head {
    padding: 15px;
  }
  .container .head h1 {
    font-size: 20px;
  }
  .container .head .account i {
    font-size: 20px;
    width: 32px;
    height: 32px;
  }
  .container .head .account .sign-up,
  .container .head .account .log-in  {
    padding: 6px 10px;
    font-size: 14px;
  }

  .container .content {
    padding: 20px 10px;
  }
  .container .content .add-task input {
    width: 74%;
    margin-right: 10px;
  }  
  .container .content .add-task .plus {
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 600;
  }
}